@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@0,6..96;1,6..96&family=Gilda+Display&family=Nanum+Gothic&display=swap');

* { 
    box-sizing: border-box; 
}

body { 
    --main-bg-color: #fef9f8; 
    --teal: #668586; 
    --eerie-black: #222222;
    --orange: #F4743B;
    display: flex;
    justify-content: center; 
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1rem;
    background-color: var(--main-bg-color); 
    height: 100vh; 
    color: var(--eerie-black); 
}

a { 
    color: var(--eerie-black); 
    font-weight: bold;
    text-decoration: none;
}

a:hover { 
    color: var(--orange); 
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 10px;

}

.container { 
    display: flex;
    flex-direction: column;
    width: 90%; 
    height: 100%; 
}

.nav { 
    height: 10%;
    width: 100%; 
    display: flex;
    font-size: .9rem;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--eerie-black);
}

.nav-left { 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#right { 
    display: flex;
    width: 50%; 
    justify-content: flex-end;
}


.banner {  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    border-bottom: 1px solid var(--eerie-black);
}

.banner img { 
    height: 100%;
    width: 50%;
}

.banner-item { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%; 
} 

.banner-item p { 
    text-align: center;
    font-family: 'Gilda Display', serif;
    font-size: 1.9rem;
    font-weight: 200;
    color: var(--eerie-black); 
}

#smaller { 
    font-size: 1.2rem;
    font-weight: 200;
}

#smallest { 
    font-size: 1rem;
    font-weight: 200;
}

.content { 
    display: flex;
    flex-direction: column;
    width: 100%; 
    align-items: center;
    line-height: 1.8rem;
}


.content a { 
    color: var(--eerie-black); 
    padding: 0.1em 0.2em; 
    display: inline;
    background-image: linear-gradient(var(--main-bg-color) 70%, var(--orange) 55%);
}

@media (max-width: 700px) {
  body {
    --size: 14px;
  } 

  .nav { 
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

  .nav-left { 
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  #right { 
    display: none;
  }

  .banner {  
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--eerie-black);
}

.banner img { 
    /* height: 80%; */
    width: 60%;
}

.banner-item { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%; 
    margin-top: 10px; 
} 

.banner-item p { 
    text-align: center;
    font-family: 'Gilda Display', serif;
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--eerie-black); 
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

#smaller { 
    font-size: 1.2rem;
    font-weight: 200;
}

#smallest { 
    font-size: 1.2rem;
    font-weight: 200;
}


}