* { 
    box-sizing: border-box; 
}

body { 
    --bg-color: #FFFFFF; 
    --primary: #97503B; 
    --secondary: #D65F56;
    --tertiary: #FDF1ED; 
    --accent: #9D944F;
    --eerie-black: #222222;
    height: 100vh; 
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    background-color: var(--bg-color); 
    color: var(--eerie-black); 
}

#title { 
    background-color: var(--tertiary);
    font-family: 'Nunito', sans-serif;
    font-size: 60px;
    color: var(--primary);
}

#title h1 { 
    font-family: 'Melodrama', serif;
    font-size: 120px; 
    padding: 0; 
}

#about span { 
    background-color: #D65F56;
     
}

a, a:link {
    color: var(--eerie-black);
    text-decoration: none;
    background-position-y: -0%;
    background-image: linear-gradient( white 50%, var(--secondary) 50%);
    transition: background 500ms ease;
    background-size: 2px;
    background-size: auto 175%;
  }
  
  a:hover {
    background-position-y: 100%;
  }